.product-merchant {
    position: absolute;
    bottom: 8px;
    left: 8px;

    display: flex;
    align-items: center;
    gap: 5px;

    padding: 4px 7px;

    background: rgba(255, 255, 255, 0.95);
    border-radius: 5px;

    z-index: 5;
}

.merchant-logo {
    display: block;
    width: 32px !important;
    height: 16px !important;

    object-fit: contain !important;
    object-position: center !important;

    flex-shrink: 0;
}

.product-merchant span {
    font-size: 11px;
    line-height: 1;
    color: #222;
}